.text-field{
    margin-top: 1rem;
    background-color: #fff;
    width: 500px;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px #bbb;
    border-bottom: 1px solid #ccc;

    input[type="text"]{
        border: none;
        font-size: 1.2rem;
        
    }
    input:placeholder-shown{
        font-style: italic;

    }
    input:focus{
        outline: none;
        font-style: normal;
    }
  
}